<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <!-- <h2 class="text-center text-white mb-4">Login Form</h2> -->
      <div class="row">
        <div class="col-md-6 mx-auto">

          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Component still in working progress</h3>
            </div>
            <div class="card-body">
              <!-- <form id="invitation" [formGroup]="inviteForm" (ngSubmit)="onFormSubmit()">
                <label for="username">Prospective Student Email</label><br>
                  <input type ="text" name="email" [formControl]="email" >
                  <div [hidden]="email.valid || email.untouched">
                  <div>
                   Invalid Email
                  </div>
            
                  <div [hidden]="!email.hasError('email')">
                    The email address format is not correct
                  </div>
                  </div><br>
                  <span *ngIf="sent == false">Email already sent to that address.</span>
                  <button type="submit" [disabled]="!email.valid"> Send Invitation</button>
                  </form><br> -->
            
              <ag-grid-angular #agGrid [gridOptions]="gridOptions"
                style="width: 400px; height: 300px;" 
                class="ag-theme-balham">
              </ag-grid-angular>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
