<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Web</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>


</head>
<body>
    <button style="background: cyan" type="button" (click)="myStart()">Start</button>

    <p>{{Question1}}e</p>
    <div id="myEditor1" ng-model="edit1"> <!-- programing questions1 started --> </div>
    
      <p>{{Question2}}</p>
    <div id="myEditor2"> <!-- programing questions2 started --></div>
      <p>{{Question3}}</p>
    <div id="myEditor3"> <!-- programing questions3 started --> </div>

    <button style="background: cyan" type="button" (click)="mySubmit()">Submit</button>
   
</body>
</html>
